@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", serif;
}
.hero {
  font-family: "Cardo";
}
.kaushan {
  font-family: "Kaushan Script", serif;
}
.svg-img {
  clip-path: url("");
}
@keyframes fadeInUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.background-fade {
  animation: 2s fadeOut;
}
.logo-animation {
  animation: 1.5s fadeInUp;
}
